In [ ]:
import numpy as np
import pandas as pd
import sys

In [ ]:
## Mount the Google Drive folder for accessing data etc
if('google.colab' in sys.modules):
    from google.colab import drive
    drive.mount('/content/drive', force_remount = True)
    # Change path below starting from /content/drive/MyDrive/Colab Notebooks/
    # depending on how data is organized inside your Colab Notebooks folder in
    # Google Drive
    DIR = '/content/drive/MyDrive/Colab Notebooks/ALA_Assignment-03'
    DATA_DIR = DIR+'/Data/'
else:
    DATA_DIR = 'Data/'

Mounted at /content/drive

In [ ]:
FILENAME = DATA_DIR + 'moviereviews.csv'
df = pd.read_csv(FILENAME)
df.head()

,movie,review
0,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
1,Inception,implanting stealing idea destroy gripping acti...
2,Spiderman Across the spider verse,mind bending wild action sequences intimate em...
3,The Dark Knight,Best live action portrayal beat organized crim...
4,Three colors red,mesmerising friendship turned love profound un...

In [ ]:
# Pivot table to represent the movie-review matrix
movie_reviews = df.pivot_table(index='movie', columns='review', aggfunc='size', fill_value=0)
movie_reviews.head()

In [ ]:
# Calculate movie review vectors
movie_vectors = movie_reviews.values
movie_vectors

array([[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]])

In [ ]:

# Function to calculate dot product using numpy.dot()
def numpy_dot_product(vector1, vector2):
    return np.dot(vector1, vector2)

In [ ]:
# Calculate dot product using hand-coded multiplication and addition
def manual_dot_product(vector1, vector2):
    result = 0
    for i in range(len(vector1)):
        result += vector1[i] * vector2[i]
    return result

In [ ]:
# Initialize list to store similar movie pairs
similarities = []

# Calculate similarities between movie pairs
num_movies = len(movie_vectors)
for i in range(num_movies):
    for j in range(i + 1, num_movies):
        movie1_vector = movie_vectors[i]
        movie2_vector = movie_vectors[j]

        # Calculate dot product using numpy.dot()
        dot_product_np = numpy_dot_product(movie1_vector, movie2_vector)

        # Calculate dot product using manual multiplication and addition
        dot_product_manual = manual_dot_product(movie1_vector, movie2_vector)

        similarities.append((i, j, dot_product_np, dot_product_manual))

In [ ]:
# Sort similarities based on numpy.dot() result in descending order
similarities.sort(key=lambda x: x[2], reverse=True)

In [ ]:
# Get top 3 similar movie pairs
top_similar_pairs = similarities[:3]

In [ ]:
# Print the top similar movie pairs
for pair in top_similar_pairs:
    movie1_idx, movie2_idx, dot_product_np, dot_product_manual = pair
    movie1_name = df['movie'].iloc[movie1_idx]
    movie2_name = df['movie'].iloc[movie2_idx]
    print(f"Movies '{movie1_name}' and '{movie2_name}' are very much alike")

Movies 'The Lord of the Rings The Two Towers' and 'Inception' are very much alike
Movies 'The Lord of the Rings The Two Towers' and 'Spiderman Across the spider verse' are very much alike
Movies 'The Lord of the Rings The Two Towers' and 'The Dark Knight' are very much alike